.container {
  display: flex;
  margin: 20px 0;
}

.button {
  margin: auto;
  font-size: 20px;
  background: #689f38;
  border: none;
  padding: 15px 25px;
  color: #fff;
  border-radius: 5px;
  transition: 200ms;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.05);
}