.root {
  position: relative;
  box-sizing: border-box;
  border: 1px solid black;
  margin: 0 40px;
}

.root:before {
  content: "";
  display: inline-block;
  padding-top: 50%;
}

.canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}
